{% from 'common/macro.html' import findstatic %}
{% extends "frontstage/register_base.html" %}


{% block title -%}
ITforum账号登录
{%- endblock %}

{% block page_title %}
登&nbsp;录
{% endblock %}

{% block box %}
<div class="form-group">
    <input type="text" name="validate" class="form-control" placeholder="手机号码">
</div>
<div class="form-group">
    <input type="password" name="password1" class="form-control" placeholder="密码">
</div>
<div class="form-group">
    <button type="button" class="btn btn-primary btn-block" id="login_submit">登录</button>
</div>
<p>还没有账号？<a href="{{ url_for('frontstage.register') }}">前去注册</a></p>
{% endblock %}
