{% from 'common/macro.html' import findstatic %}
{% extends "frontstage/front_base.html" %}

{% block title -%}
ITforum
{%- endblock %}


{% block head -%}
<link rel="stylesheet" href="{{ findstatic('frontstage/css/front_index.css') }}">

{%- endblock %}

{% block main %}
<table class="main-container">
    <tr class="up-container">
        <td id="carousel-example-generic" class="carousel slide index-banner" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for carousel in carousellist %}
                {% if loop.first %}
                <div class="item active">
                    {% else %}
                    <div class="item">
                {% endif %}
                        <a href="{{ carousel.next_url }}" target="_blank"><img class="front_img" style="height: 263px;" src="{{ carousel.picture_url }}" alt="picture"></a>
                    </div>
                {% endfor %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <td class="forum_list" id="right">
                <div class="send_btn" style="padding-bottom: 10px;">
                    <a href="{{ url_for('frontstage.addpost') }}" class="btn btn-warning btn-block" id="post-button">发布帖子</a>
                </div>
                <div class="list-group">
                    <a href="{{ url_for('frontstage.index') }}" class="list-group-item active">全部版块</a>
                        {% for area in arealist %}
                            {% if area.id == current_area %}
                        <a href="{{ url_for('frontstage.index', id = area.id) }}" class="list-group-item list-group-item-warning"><span class="badge">{{ area.number }}</span>{{ area.name }}</a>
                            {% else %}
                        <a href="{{ url_for('frontstage.index', id = area.id) }}" class="list-group-item">{{ area.name }}<span class="badge">{{ area.number }}</span></a>
                            {% endif %}
                        {% endfor %}
                </div>
            </td>
            <script type="text/javascript">
                document.getElementById("right").style.height = document.getElementById("carousel-example-generic").offsetHeight + "px";
            </script>
        </tr>
        <tr class="down-container">
            <td class="forum_info">
                <div class="post-group">
                    <ul class="post-group-head">
                        <li class="active"><a href="#">最新帖子</a></li>
                        <li><a href="#">精品帖子</a></li>
                    </ul>
                    <ul class="post-list">
                        {% for post in postlist %}
                        <li class="forum_item_block">
                            <div class="forum_head">
                                <a  style="line-height: 0;display: inline-block;" href="#">
                                    <img class="user_photo" src="{{ findstatic('frontstage/images/head.jpg') }}">                       <!- 此处为用户头像以及空间跳转链接->
                                </a>
                                <h4 style="display: inline-block;vertical-align: top;"><a style="margin-left: 5px" href="{{ url_for('frontstage.post_info', post_id=post.id) }}">{{ post.theme }}</a>
                                <!--判断帖子是否是精品，若是则增加精标签-->
                                {% if post.plusfine %}<span style="padding: .2em .3em .3em; font-weight:100;font-size: 70%;" class="label label-danger">精</span>{% endif %}
                                </h4>
                            </div>
                            <div class="forum_description">
                                <a href="{{ url_for('frontstage.userinfo') }}" class='user_name'
									   target="_blank" rel="noopener noreferrer">{{ post.author.username }}</a>
                                <span class="post-time">发布于: {{ post.create_time }}</span>
                                <a href="{{ url_for('frontstage.index', id = post.area.id) }}" class='area_name'
									   target="_blank" rel="noopener noreferrer">{{ post.area.name }}</a>
                                <span class='numb msg'><i>评论数:</i>100</span>
                            </div>
                        </li>
                        {% endfor %}
                        <div style="text-align:center;">
                            {{ pagination.links }}
                        </div>
                    </ul>
                </div>
            </td>
            <td class="forum_other">
                <div class="panel panel-danger">
                    <div class="panel-heading">公告</div>
                    <div class="panel-body">&emsp;&emsp;ITforum论坛开放了!!!欢迎大家使用!!!本项目的代码已开源,欢迎star和fork。
                        <br />
                        <code style="word-break:break-all;">&nbsp&nbsp&nbsp git clone: https://github.com/superliuliuliu/ITforums.git</code>
                    </div>
               </div>
            </td>
        </tr>
    </tr>
</table>
{% endblock %}
