{% from 'common/macro.html' import findstatic %}
{% extends "frontstage/front_base.html" %}


{% block title %}{{ post.theme }}{% endblock %}

{% block head -%}
<link rel="stylesheet" href="{{ findstatic('frontstage/css/front_content.css') }}">
{%- endblock %}


{% block main %}
<div class="main-container"  style="margin-top:56px; height:100%">
  <div class="container_left" style="margin-bottom: 70px; background-color:#f3f3f3">
    <div class="container_left"  style="margin-top: 30px;">
        <div class="content_head">
             <h2 style="color: #ff8b3d;">{{ post.theme }} </h2>

            <div style=" color: #8c8c8c;display:   flex;justify-content:  space-around;  margin-top: 15px;">
                {% if post.plusfine %}<span style="color: #ff4c4c;
    margin-right: 7px;">精华帖</span>{% endif %}
                <span>发布时间：{{ post.create_time }}</span>
                <span>作者：{{ post.author.username }}</span>
                <span>版块：{{ post.area.name }}</span>
            </div>
        </div>
           <div class="content_inner" style="margin:30px 30px;">
               {{ post.content|safe }}
               <div class="faster_reply">
                   <a href="#"  style="float: left;" target="_blank" rel="noopener noreferrer">
                       <img src="/static/frontstage/images/head.jpg">                           <!- 用户图像->
                   </a>
                   <input placeholder="说说你的看法" id="input">
                   <span class="btn_1" id="">发表</span>
               </div>
           </div>
    </div>

    <div class="container_left" style="padding:20px 20px;  margin: 30px 0;">
        <div class="comment_area_head">
              <span style="font-size: 18px;margin-left: 20px;">评论区</span>
              <a herf="#">只看楼主</a>
        </div>
        <ul class="reply_list">

           <li class="comment_word">
               <div class="comment_img">
                   <a href="http://bbs.xiaomi.cn/u-detail-386531535" class="headportrait" target="_blank" rel="noopener noreferrer">
                       <img class="user_head"  src="/static/frontstage/images/head.jpg" style="display: block;">                    <!- 评论者头像->
                   </a>
               </div>
               <div class="comment_inner_word">
                   <div class="author_info">
                       <a href="#" class="auth_name" target="_blank" rel="noopener noreferrer" style="margin-right: 5px;font-size: 14px;color: #ff8b3d;">评论者名字</a>            <!- 评论空间跳转->
                       <span style="margin-right: 5px;"> 发表于</span>
                       <span style="margin-right: 5px;">12-16 23:59:37</span>
                       <a class="only_read_auth" href="#">只看该作者</a>
                       <span class="comment_number">评论楼层数</span>
                   </div>
                   <div class="comment_text">#这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论</div>
               </div>
           </li>

        </ul>
    </div>
 </div>
    <div class="container_right">
        <div class="author_msg" style="padding: 40px 0;">
            <a href="http://bbs.xiaomi.cn/u-detail-2202111934" class="author_head" >
                <img src="/static/frontstage/images/head.jpg"  class="author_pic">     <!- 作者图像->
            </a>
            <div class="author_msg">
                <span>
                    <a href="#" style="font-size: 15px;" class="author_name">{{ post.author.username }}</a>
                </span>
                <p>
                    <span style="color: #8c8c8c; font-size: 15px;">加入时间：{{ post.author.join_time }}</span>
                </p>
            </div>
        </div>
        <a class="btn_1" href="#" style="float:left; margin-left: 10px" target="_blank" rel="noopener noreferrer">Ta的主页</a>
        <span class="btn_1" style="background-color: #6999ee; border-color: #6999ee; color: #fff; float:right; margin-right: 10px">发消息</span>
    </div>

  </div>
{% endblock %}
