.main-container{
    width: 1295px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    margin-top:85px;
}

.lg-container{
    width: 920px;
    float: left;
}

.sm-container{
    width: 470px;
    float: right;
}
