.index-banner{
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    width:70%;
    float:left;
}

.carousel-inner {
    width: 100%;
   height: 100%;
}

.front_img{
     width: 100%;
}

.forum_info{
    width:70%;
   height:1200px;
    background-color: #FFFFFF;
    margin-top: 40px;
    float:left;
}

.post-group{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color:#f7fafb;
}

.post-group-head{
    overflow: hidden;
    margin: 0 10px;
}

.post-list{
    background-color:white;
}

.post-group-head li{
    float: left;
    padding: 5px 20px;
}

.post-group-head li a{
    color: #333;
}

.post-group-head li.active{
    background: white;
}

.forum_other{
    width:25%;
    height:1200px;
    background-color: #FFFFFF;
    margin-top: 50px;
    float:right;
}

.forum_list{
    float:right;
    width:25%;
    height:100%;
}

.list-group{
    margin-top:3%;
    margin-bottom:0;
    height:81%;
}

.list-group-item{
    width: 100%;
    height:16.6%;
    padding:5px 10px;

}

.send_btn{
    height: 18%;
}

.forum_item_block{
    width: 100%;
    padding:10px 10px 5px 10px;
    border-bottom: 2px solid #f7fafb
}

.forum_item_block:hover{
    background-color: #f7f7f7;
}

.user_photo{
    width:40px;
    height:40px;
}

.forum_description{
    margin-left:50px;
    margin-top:5px;
    margin-bottom:5px;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
