{% extends "cms/cms_base.html" %}


{% block title -%}
    用户个人信息
{%- endblock %}

{% block info %}
    class="active"
{% endblock %}

{% block page_header %}
    个人信息
{% endblock %}


{% block main_content %}
{% set user = g.cms_user %}
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <td>用户名</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>邮箱</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>角色</td>
                <td>
                    {% for role in user.roles %}
                        {{ role.name }}
                        {% if not loop.last %}，{% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>权限</td>
                <td>
                    {% for role in user.roles %}
                        {{ role.description }}
                        {% if not loop.last %}/{% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>加入时间</td>
                <td>{{ user.join_time }}</td>
            </tr>
        </tbody>
    </table>
    <p>
        <a class="btn btn-lg btn-primary" href="{{ url_for('cms.password') }}" role="button">修改密码</a>
        <a class="btn btn-lg btn-primary" href="{{ url_for('cms.resetemail') }}" role="button">修改邮箱</a>
    </p>
{% endblock %}
