{% extends "cms/cms_info.html" %}
{% from "common/macro.html" import findstatic %}


{% block changeemail %}
    class="active"
{% endblock %}

{% block head %}
<script src="{{ findstatic('cms/js/resetemail.js') }}"></script>
{% endblock %}


{% block inner_content %}
{% set user = g.cms_user %}


    <div id="ipsTabs_elSettingsTabs_setting_email_panel" class="ipsTabs_panel panel" aria-labelledby="setting_email" aria-hidden="false" animating="false" style="display: block;">
        <h2 class="ipsType_sectionHead">修改您的邮箱</h2>
        <br><br>
        <div class="ipsType_textBlock ipsType_normal">
            <ul class="ipsList_bullets">
                <li>验证码有效时间为2分钟，请在限制时间内填写</li>
            </ul>
        </div>
        <br><hr class="ipsHr">
        <form action="#" method="post" accept-charset="utf-8" enctype="multipart/form-data" data-ipsform="" class="ipsForm ipsForm_collapseTablet AVAST_PAM_nonloginform">

            <ul class="ipsForm">
                <li class="ipsFieldRow ipsFieldRow_textValue ipsClearfix ">
                    <label class="ipsFieldRow_label">
                        当前邮箱地址
                    </label>
                    <div class="ipsFieldRow_content">
                        {{ user.email }}
                    </div>
                </li>
                <li class="ipsFieldRow ipsClearfix " id="form_new_email">
                    <label class="ipsFieldRow_label" for="new_email">
                        新邮箱地址
                    </label>
                    <div class="ipsFieldRow_content">
                        <input type="email" name="newemail" value="" id="elInput_new_email" aria-required="true" placeholder="请输入邮箱">

                        <br>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <input type="text" name="captcha" value="" id="elInput_new_email" aria-required="true" placeholder="请输入验证码">
                        <span class="input-group-addon" style="cursor:pointer;" id="sendcaptcha">获取验证码</span>
                   </div>
                </li>

                <li class="ipsFieldRow">
                    <div class="ipsFieldRow_content">
                        <button type="submit" class="ipsButton ipsButton_primary" tabindex="2" accesskey="s" role="button">保存</button>
                    </div>
                </li>
            </ul>
        </form>
    </div>
{% endblock %}
