{% extends "cms/cms_info.html" %}
{% from "common/macro.html" import findstatic %}


{% block head %}
<script src="{{ findstatic('cms/js/resetpassword.js') }}"></script>
{% endblock %}

{% block changepassword %}
    class="active"
{% endblock %}
{% block inner_content %}



    <div id="ipsTabs_elSettingsTabs_setting_email_panel" class="ipsTabs_panel panel" aria-labelledby="setting_email" aria-hidden="false" animating="false" style="display: block;">
        <h2 class="ipsType_sectionHead">修改密码</h2>
        <hr class="ipsHr"><br>
    <form action="" method="post" class="ipsForm ipsForm_collapseTablet">
        <ul class="ipsForm">
            <li class="ipsFieldRow ipsClearfix " id="form_current_password">
                <label class="ipsFieldRow_label" for="current_password">
                     旧密码 <span class="ipsFieldRow_required">必填</span>
                </label>
                <div class="ipsFieldRow_content">
                    <input type="password" name="oldpassword" value="" id="elInput_current_password" aria-required="true">
                    <br>
                </div>
            </li>
            <li class="ipsFieldRow ipsClearfix " id="form_new_password">
                <label class="ipsFieldRow_label" for="new_password">
                    新密码 <span class="ipsFieldRow_required">必填</span>
                </label>
                <div class="ipsFieldRow_content">
                    <div data-ipspasswordstrength="" id="ips_uid_593_4">
                        <input type="password" name="newpassword" value="" id="elInput_new_password" aria-required="true" style=""><span data-role="validationCheck"></span>
                        <!-- 密码复杂度 -->
                        <!--<div data-role="strengthInfo" class="ipsHide">-->
                        <!--<meter max="100" value="0" class="ipsForm_meter" data-role="strengthMeter"></meter>-->
                        <!--<span data-role="strengthText" class="ipsForm_meterAdvice"></span>-->
                        <!--</div>-->
                    </div>
                </div>
            </li>
            <li class="ipsFieldRow ipsClearfix " id="form_confirm_new_password">
                <label class="ipsFieldRow_label" for="confirm_new_password">
                   确认新密码 <span class="ipsFieldRow_required">必填</span>
                </label>
                <div class="ipsFieldRow_content">
                    <input type="password" name="newpassword2" value="" id="elInput_confirm_new_password" aria-required="true">
                </div>
            </li>
            <li class="ipsFieldRow">
                <div class="ipsFieldRow_content">
                    <button type="button" class="ipsButton ipsButton_primary" id="submit">保存</button>
                </div>
            </li>
        </ul>
    </form>
    </div>
    </div>
{% endblock %}
