{% extends "cms/cms_base.html" %}
{% from 'common/macro.html' import findstatic %}


{% block title -%}
    帖子管理
{%- endblock %}

{% block head %}
<script src="{{ findstatic('cms/js/manposts.js') }}"></script>
{% endblock %}


{% block page_header %}
    帖子管理
{% endblock %}

{% block main_content %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th><small>标题</small></th>
            <th><small>发布时间</small></th>
            <th><small>归属版块</small></th>
            <th><small>发布者</small></th>
            <th><small>操作</small></th>
        </tr>
    </thead>
    <tbody>
        {% for post in postlist %}
            <tr data-id="{{ post.id }}" data-jingpin="{{ 1 if post.plusfine else 0 }}">
                <td><a target="_blank" href="#">{{ post.theme }}</a></td><!--能直接跳转到帖子的详情页面-->
                <td>{{ post.create_time }}</td>
                <td>{{ post.area.name }}</td>
                <td>{{ post.author.username }}</td>
                <td>
                    <!--因为一个页面下有很多个帖子，所以是使用类来标明-->
                    {% if post.plusfine %}
                    <button class="btn btn-default btn-xs fine-btn">取消加精</button>
                    {% else %}
                    <button class="btn btn-default btn-xs fine-btn">加精</button>
                    {% endif %}
                    <button class="btn btn-danger btn-xs delete-btn">删除</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <div style="text-align:center;">
        {{ pagination.links }}
    </div>
</table>
{% endblock %}
